# Ignore everything
*

# But not Java files...
!.gitignore
!*.java

# But not Lua and md files...
!*.lua
!*.md

# And CI
!.travis.yml
!build.gradle.kts
!gradlew
!LICENSE
!README.md
!settings.gradle

# ...even if they are in subdirectories
!*/
